[user]
  name = mondaychen
  email = monday.chen@gmail.com
[alias]
  ca = commit --all
  fa = fetch --all
  fu = fetch upstream
  po = push origin
  co = checkout
  st = status
  rh = reset --hard
  graf = log --graph --oneline --decorate --color=auto
  sub = submodule update --recursive
[credential]
  helper = osxkeychain
[core]
  editor = /usr/bin/vim
[color]
  ui = true
