[user]
  name = chenmengdi
  email = chenmengdi@douban.com
[alias]
  ca = commit --all
  fa = fetch --all
  fu = fetch upstream
  po = push origin
  co = checkout
  st = status
  rh = reset --hard
  graf = log --graph --oneline --decorate --color=auto
  lcmd = log --color --pretty=format:\"%C\\(yellow\\)%h%Creset %C\\(green\\)%an%Creset %s\" --date=short --author=chenmengdi --branches=upstream/master
[credential]
  helper = cache
[color]
  ui = true
[hub]
  host = github-ent.intra.douban.com
